<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" align="center">
    <h1>NY TURRE</h1>

    <%= render 'form' %>

    <%= link_to 'Skapa en ny spelare', new_player_path %>
  </div>
</div>
