<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" align="center">
    <h1>NY TURRE</h1>
    <br>
<p>Skapa en ny turnering genom att markera seplarna som skall delta. Saknas någon? <%= link_to 'Skapa en ny spelare här.', new_player_path %>
</p>
    <%= render 'form' %>
<br>

  </div>
</div>
<%= render 'shared/footer' %>
