<%= form_for @player do |f| %>
  <div class="form-group">
    <%= f.label :namn %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class ="form group">
    <%= f.submit "SKAPA SPELARE", class: "btn btn-primary" %>
  </div>
<% end %>
