// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.small_font {
  font-size: 60%;
}

.officiel {
  font-size: 66%;
  color: #18bc9c;
}
